.app-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

// .title {
//   font-size: 18px;
//   font-weight: 600;
// }

.app-title {
  font-weight: 600;
}

.spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  background: #e9e9e9;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}